<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Liste des utilisateurs</title>
	       <meta charset="utf-8">
        <!-- importer le fichier de style -->
        <link rel="stylesheet" href="TabListComposantModif.css" media="screen" type="text/css" />
</head>

<body>
	<form action="/ModifierComp" method="PUT">
	<table align="center">
		<caption>Liste des composants</caption>
		<tr>
			
			<th scope="col">Description</th>
			<th scope="col">Nom du serveur</th>
			<th scope="col">Ip du serveur</th>
			<th scope="col"></th>
		</tr>
		
		<tr th:each="composant : ${result}">
            <td><span th:text="${composant.description}">Description </span></td>
            <td><span th:text="${composant.nomDuServeur}"> Nom du Serveur</span></td>
            <td><span th:text="${composant.ipDuServeur}"> Ip du serveur </span></td>
             <td><a th:href="@{/LoadComposantForModification(id=${composant.id})}">Modifier</a> 
        </tr>
	</table>
	
	
	
	</form>
</body>

</html>